<div class="my-content">
  <mat-toolbar>
    <mat-form-field class="search-filter">
      <input matInput placeholder="Filter Characters...">
    </mat-form-field>
  </mat-toolbar>

  <mat-list-item>
    <button color="accent" mat-raised-button>
      <span>Show or Hide Details</span>
    </button>
  </mat-list-item>

  <mat-list>
    <mat-list-item>
      <img mat-list-avatar src="https://s3-us-west-2.amazonaws.com/star-wars-characters/luke-skywalker-sm.jpeg" />
      <h3 mat-line>{{characters[0].name}}</h3>
      <div mat-line>
        <span>{{characters[0].gender}}</span>
        <span>{{characters[0].birth_year}}</span>
      </div>
    </mat-list-item>
  </mat-list>
</div>
